html,
body {
  margin: 0;
  padding: 0;
}

.Page {
  background-color: #3b3d43;
}
.topBanner {
  background-color: lightcoral;
  margin-top: 0px;
  padding: 50px;
}

.characterScreen {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 80px; /* adding this here so items dont appear out of screen*/
}

.armorHolder {
  float: right;
  margin-left: 60px;
  position: absolute;
  height: auto;
}

.weaponHolder {
  margin-top: 30px;
  float: left;
}

.backgroundCharacter {
  background-image: url(guardian.png);
  background-repeat: no-repeat;
  width: 700px;
  height: 800px;
  margin-top: 80px;
}

.lightContainer {
  margin-top: 10px;
  color: white;
}

.lightContainer h1 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10px;
}

.statsBar {
  margin-left: 0px;
  width: 450px;
}

.statsCont {
  width: 45px;
  float: left;
}

.statLogo {
  height: 40px;
  width: 40px;
  margin: auto;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  color: white;
}

.stat p {
  margin-top: 0px;
  margin-bottom: 0;
}

.stat h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.currenciesContainer {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0px;
  height: 50px;
  text-align: center;
  color: white;
}

.currency {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.currencyImg {
  height: 40px;
  width: 40px;
  margin-top: 5px;
}

.engramHolder {
  text-align: right;
  white-space: nowrap;
}
.engramImg {
  margin: auto;
  height: 100px;
  width: 100px;
  transition: 4s ease-in-out;
}

.itemWriting {
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.itemContainer {
  display: flex;
  margin-right: 40px;
}
.vaultStyle {
  height: 600px;
  background-color: #3b3d43;
  display: flex;
}

.gridStyle {
  background-color: #706f6f;
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  height: 300px;
  align-content: flex-start;
  position: absolute;
  margin-left: 100px;
}

.childGridStyle {
  display: flex;
  flex-direction: row;
}

.vaultStyle {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
}

.infoPanel {
  min-height: 300px;
  width: 245px;
  margin-left: 95px;
  background-color: #1f1c1c;
  position: absolute;
}



#infoPanelBanner h2 {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 5px;
  color: white;
  text-shadow: black 0px 0px 3px;
}

#infoPanelBanner span {
  color: white;
  margin-left: 10px;
  text-shadow: black 0px 0px 3px;
}

.infoPanelLight {
  color: white;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.armorStatsPanel {
  margin-top: 0px;
}

.statPair {
  display: flex;
  flex-direction: row;
  height: 22px;
}

#statName {
  margin-left: 10px;
  color: white;
  width: 70px;
  font-size: 15px;
}

#statValue {
  margin-left: 20px;
  color: white;
  font-size: 15px;
}

.infoPanel button {
  margin-top: 25px;
  margin-left: 10px
}
