html,body{
    margin: 0;
    padding: 0;
}

.Page{
    background-color:#3b3d43;
}
.topBanner{
    background-color: lightcoral;
    margin-top: 0px;
    padding:50px;
}

.characterScreen{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    
}

.armorHolder{
    float:right;
    margin-left:60px;
    position:fixed;
    height: auto;
}

.weaponHolder{
    margin-top: 30px;
    float:left;
}

.backgroundCharacter{
    background-image: url(guardian.png);
    background-repeat: no-repeat;
    width:700px;
    height: 800px;
}

.lightContainer{
    margin-top: 10px;
    color:white
}

.lightContainer h1{
  
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

.statsBar{
    margin-left: 0px;
    width:450px;

}

.statsCont{
    width: 45px;
    float: left;
}

.statLogo{
    height:40px;
    width:40px;
    margin:auto;
}

.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
}

.stat p {
    margin-top: 0px;
    margin-bottom: 0;

}

.stat h2{
    margin-top: 0;
    margin-bottom: 20px;
}

.currenciesContainer{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0px;
    height:50px;
    text-align: center;
    color:white;
}

.currency{
    margin-left:20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.currencyImg{
    height:40px;
    width:40px;
    margin-top: 5px;
}

.engramHolder{
    text-align: right;
    white-space: nowrap;
}
.engramImg{
    margin:auto;
    height:100px;
    width:100px;
    transition: 4s ease-in-out;
}

.itemWriting{
    margin: 0;
}

.itemContainer{
display: flex;
}

.gridStyle  {
    background-color:lightGrey;
    width: "280px";
    height: "300px";
    position:"absolute";
    margin-left:"100px"
  }


